#notesHeader{
    text-align: center;
    margin: 20px;
    font-style: italic;
    font-family: cursive;
    color: #8989e7;
}

#notesFooter{
    text-align: left;
    margin: 20px;
    font-style: italic;
    font-family: cursive;
    color: blueviolet;
    
}

body{
    background-color: darkgray;
}

.noteText{
    text-align: center;
}

.list{
    text-align: center;
    padding-left: 0px;
}

.noteText input[type=text]{

    margin: 30px;
    width: 30%;
}

.list li{
    display: inline-block;
    margin: 30px;
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 20%;
    padding: 20px;
}

.btnRemove,
.btnEdit{
    margin: 15px;
}

.btnAdd{
    vertical-align: baseline;
}

#notesMain{
    min-height: 700px;
}